## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [105]:
import pandas as pd
import numpy as np
from IPython.core.inputtransformer2 import leading_empty_lines
from jedi.inference.gradual.conversion import convert_values
from pandas import value_counts

In [2]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()
df = pd.DataFrame(data)
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [8]:

value  = df['sex'].value_counts()
value

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [28]:
mean = df[df['sex'] == 'Male']['age'].mean()
print(mean)

39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [73]:
f = (df[df['native-country'] == 'United-States']['native-country'].count() / df['native-country'].count()) * 100
print(f)

89.5857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [87]:
salary_age_more_mean_50 = df[df['salary'] == '>50K']['age'].mean()
salary_age_std_more_50 = df[df['salary'] == '>50K']['age'].std()
print(salary_age_more_mean_50)
print(salary_age_std_more_50)

salary_age_less_mean_50 = df[df['salary'] == '<=50K']['age'].mean()
salary_age_std_less_50 = df[df['salary'] == '<=50K']['age'].std()
print(salary_age_less_mean_50)
print(salary_age_std_less_50)

44.24984058155847
10.519027719851826
36.78373786407767
14.02008849082488

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [113]:
higher_education = ['Bachelors', 'Masters', 'Doctorate', 'Assoc-acdm', 'Assoc-voc', 'Prof-school']
result = df[df['salary'] == '>50K']['education'].isin(higher_education).all()
if result:
    print("ALL people earning more than 50k have at least a higher education.")
else:
    print("NOT all people earning more than 50k have higher education.")

NOT all people earning more than 50k have higher education.

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [82]:

stats = df.groupby(['race','sex'])['age'].describe()
max_age_asian_pac_islander = stats.loc['Asian-Pac-Islander']['max']['Male']
max_age_asian_pac_islander

np.float64(90.0)

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [15]:
search_word = 'Married'
married = df[(df['sex'] == 'Male')& (df['salary'] == '>50K') & (df['marital-status'].str.startswith(search_word))]['sex'].count()
not_married = df[(df['sex'] == 'Male')& (df['salary'] == '>50K') & (~df['marital-status'].str.startswith(search_word))]['sex'].count() 
total_count = married + not_married
if total_count > 0:
    married_percent = (married / total_count) * 100
    not_married_percent = (not_married / total_count) * 100

    if married_percent > not_married_percent:
        print(f"Married ({married_percent}%) > Not Married ({not_married_percent}%)")
    elif married_percent < not_married_percent:
        print(f"Not Married ({not_married_percent}%) > Married ({married_percent}%)")
    else:
        print(f"Married ({married_percent}%) == Not Married ({not_married_percent}%)")
else:
    print("No high income males found.")

Married (89.53767637346142%) > Not Married (10.462323626538577%)

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [81]:
max_hours_per_week = df['hours-per-week'].max()
print(f"max hours per week = {max_hours_per_week}")

c_people_max_hours = df[df['hours-per-week'] == max_hours_per_week].count().iloc[0]
print(f"count of people with big salary and hours per week = {c_people_max_hours} ")
people_with_big_sl = df[(df['hours-per-week'] == max_hours_per_week) & (df['salary'] == '>50K')].count().iloc[0]
percent = (people_with_big_sl / c_people_max_hours) * 100
print(f"percentage of people with the highest salary : {percent}%")

max hours per week = 99
count of people with big salary and hours per week = 85
Percentage of people with the highest salary : 29.411764705882355%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [102]:
avg_hours_for_more = df[(df['salary']== '>50K') & (df['hours-per-week'] > 0)].groupby('native-country')['hours-per-week'].mean()
avg_hours_for_more

native-country
?                     45.547945
Cambodia              40.000000
Canada                45.641026
China                 38.900000
Columbia              50.000000
Cuba                  42.440000
Dominican-Republic    47.000000
Ecuador               48.750000
El-Salvador           45.000000
England               44.533333
France                50.750000
Germany               44.977273
Greece                50.625000
Guatemala             36.666667
Haiti                 42.750000
Honduras              60.000000
Hong                  45.000000
Hungary               50.000000
India                 46.475000
Iran                  47.500000
Ireland               48.000000
Italy                 45.400000
Jamaica               41.100000
Japan                 47.958333
Laos                  40.000000
Mexico                46.575758
Nicaragua             37.500000
Peru                  40.000000
Philippines           43.032787
Poland                39.000000
Portugal              41.500000
Puerto-Rico           39.416667
Scotland              46.666667
South                 51.437500
Taiwan                46.800000
Thailand              58.333333
Trinadad&Tobago       40.000000
United-States         45.505369
Vietnam               39.200000
Yugoslavia            49.500000
Name: hours-per-week, dtype: float64

In [103]:
avg_hours_for_less = df[(df['salary'] == '<=50K') & (df['hours-per-week'] > 0)].groupby('native-country')['hours-per-week'].mean()
avg_hours_for_less

native-country
?                             40.164760
Cambodia                      41.416667
Canada                        37.914634
China                         37.381818
Columbia                      38.684211
Cuba                          37.985714
Dominican-Republic            42.338235
Ecuador                       38.041667
El-Salvador                   36.030928
England                       40.483333
France                        41.058824
Germany                       39.139785
Greece                        41.809524
Guatemala                     39.360656
Haiti                         36.325000
Holand-Netherlands            40.000000
Honduras                      34.333333
Hong                          39.142857
Hungary                       31.300000
India                         38.233333
Iran                          41.440000
Ireland                       40.947368
Italy                         39.625000
Jamaica                       38.239437
Japan                         41.000000
Laos                          40.375000
Mexico                        40.003279
Nicaragua                     36.093750
Outlying-US(Guam-USVI-etc)    41.857143
Peru                          35.068966
Philippines                   38.065693
Poland                        38.166667
Portugal                      41.939394
Puerto-Rico                   38.470588
Scotland                      39.444444
South                         40.156250
Taiwan                        33.774194
Thailand                      42.866667
Trinadad&Tobago               37.058824
United-States                 38.799127
Vietnam                       37.193548
Yugoslavia                    41.600000
Name: hours-per-week, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [114]:
df['AgeGroup'] = np.where((df['age'] >= 16) & (df['age'] < 35), 'young',
                 np.where((df['age'] >= 35) & (df['age'] < 70), 'adult', 
                 np.where((df['age'] >= 70) & (df['age'] <= 100), 'retiree', 'unknown')))
print(df['AgeGroup'])

0        adult
1        adult
2        adult
3        adult
4        young
         ...
32556    young
32557    adult
32558    adult
32559    young
32560    adult
Name: AgeGroup, Length: 32561, dtype: object

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [118]:
total_people_per_group = df.groupby('AgeGroup')['age'].count()
count_of = df[df['salary'] == '>50K']['AgeGroup'].value_counts()
count_of

AgeGroup
adult      6240
young      1488
retiree     113
Name: count, dtype: int64

In [135]:
group_w = (count_of / total_people_per_group) * 100
res = group_w.index
print(f"The age group where most people earn >50K is: {res[0]}")

The age group where most people earn >50K is: adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [204]:
group_by_occupation = df.groupby('occupation')['occupation'].count()
group_by_occupation

occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
Name: occupation, dtype: int64

In [203]:
f_group = df.groupby('occupation').filter(lambda x: (x['age'].mean() <= 40).all() and (x['hours-per-week'] > 5).all())['occupation'].unique()
print(f_group)

['Armed-Forces']